PORT=3001
NODE_ENV=development

# AUDIO PROVIDER
# Options: local | elevenlabs
AUDIO_PROVIDER=local

# Local Provider
LOCAL_TTS_URL=http://localhost:8188/api/prompt

# ElevenLabs Provider
ELEVENLABS_API_KEY=your_api_key_here
